@charset "utf-8";

/* 데스크탑 나브 바 */
@media only screen and (min-width: 768px){
    #m_nav{display: none;}
	#nav {height: auto;
          position: fixed;
          top:0;
          width: 100vw;
    	  padding: 3vh 5vw;
    	  background: rgb(230,35,26);
          background: linear-gradient(180deg, rgba(255,11,0,1) 0%, rgba(255,255,255,0) 100%);
          backdrop-filter: blur(5px);
          z-index: 1;}

    .grid_nav {display: grid;
               max-width: 800vw;
               grid-template-columns: 0.4fr 8fr;}

    .nav_select{margin-left: 2vw; 
            color: #FFFFFF;}
    .nav_left{margin-left: 2vw; 
            color: #FFFFFF;
            opacity: 60%;}
  	.nav_text{display: flex;
              font-size: calc(0.5vw + 0.5rem);
              justify-content: flex-end;}

    .logo{width: 2.8vw;
          filter: drop-shadow(0px 2px 3px #FFFFFF);}
}


/* 모바일 나브 바 */ 
@media only screen and (max-width: 767px){
    img{width: 100%;}
    #nav{display: none;}

 	#m_nav {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        transition:all 0.3s ease;
        padding-top:17px;
        padding-bottom: 15px;
        padding-left: 23px;
        padding-right: 23px;
        background: rgb(230,35,26);
          background: linear-gradient(180deg, rgba(255,11,0,1) 0%, rgba(255,255,255,0) 100%);
          backdrop-filter: blur(5px);
          z-index: 1;
	z-index:50;}

    #m_nav.hide{top: -100vh;}

    .logo{width: 40px;
          filter: drop-shadow(0px 2px 3px #FFFFFF);}

    button {cursor: pointer;}

    .m_menu_btn {width: 24px;
                height: 24px;
                border: 0;
                background: transparent;
                position: absolute;
                right: 0;
                top: 17px;}
    .m_menu_btn span {background: #FFFFFF;}

    #m_nav.active .menu-trigger span:nth-child(1) { top:50%; transform:translateY(0) rotate(45deg);}
    #m_nav.active .menu-trigger span:nth-child(2) {opacity: 0;}
    #m_nav.active .menu-trigger span:nth-child(3) {top:50%; transform:translateY(0) rotate(-45deg);}
    #m_nav.active .menu-trigger span{background:#fff;}
    #m_nav.active .logo h1 a{color:#fff;}

    .m_menu{display:none;}

    .m_menu{position:absolute; z-index:2; background: rgb(230,35,26); background: linear-gradient(180deg, rgba(255,11,0,1) 5%, rgba(220,220,220,1) 40%, rgba(161,161,162,0.7) 100%); top:0; left:0; right:0; overflow:hidden; height:0; display:block; transition: all 0.2s ease;}
    #m_nav.active .m_menu{height: 250px;}
    .m_menu ul{backdrop-filter: blur(5px); padding-top:70px; padding-left:20px; padding-right:20px; padding-bottom:31px; list-style-type: none;}
    .m_menu:before{content:''; position:absolute; top:0; left:0; right:0; height:60px;}    
    .m_menu a{color:#f72b21; font-size:18px; font-family: 'DM Sans', sans-serif; font-weight: 400; display:block; height:35px;}


    header{display: flex;
            justify-content: space-between;
            align-items: flex-start;
            z-index: 30;}
    header a{z-index: 50;}

    #menuBtn{width: 70px; height: 70px; z-index: 100; cursor: pointer; position: relative; margin: 10px;}
    .menuBtn{position: absolute; width: 45px;top: 0; right: 0; transition: all 0.3s ease-in-out; }
  
    .menu-trigger, .menu-trigger span {display: inline-block;
                                      transition: all .4s;
                                      box-sizing: border-box;}

    .menu-trigger {position: relative;
                  width: 27px;
                  height: 22px;}

    .menu-trigger span {position: absolute;
                          left: 0;
                          width: 100%;
                          height: 2px;
                          background-color: #fff;
                          border-radius: 4px;}

    .menu-trigger span:nth-of-type(1) {
      top: 0;
      filter: drop-shadow(0px 2px 3px #FFFFFF);}

    .menu-trigger span:nth-of-type(2) {
      top: 10px;
      filter: drop-shadow(0px 2px 3px #FFFFFF);}

    .menu-trigger span:nth-of-type(3) {
      bottom: 0;
      filter: drop-shadow(0px 2px 3px #FFFFFF);}


    /* menu x */
    .menu-trigger.active-1 span:nth-of-type(1) {
      -webkit-transform: translateY(10px) rotate(-45deg);
      transform: translateY(10px) rotate(-45deg);}

    .menu-trigger.active-1 span:nth-of-type(2) {
      opacity: 0;}

    .menu-trigger.active-1 span:nth-of-type(3) {
      -webkit-transform: translateY(-10px) rotate(45deg);
      transform: translateY(-10px) rotate(45deg);}

}